#intro{
    // clip-path: circle(200% at 50% -340%);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 3em 0em 5em;
    font-weight: bold;
    background-color: orange;
    z-index: 2;
    #name_intro{
        font-size: 3em;
    }
    #name{
        display:inline-block;
        /* another design css */
        color:white;
        /* color:tomato;                */
        font-size: 1.5em;
        margin: 0.2em 0 0.6em;
        line-height: 0.8em;
    }
    #headline{
        a{
            display: inline-block;
            padding: 15px 20px;
            color: orange;
            background-image: linear-gradient(to bottom, white, #efefef);
            border-radius: 30px;
            text-decoration: none;
            &:hover{
                box-shadow: 0px 0px 10px white;
            }
        }
    }
    #profile_img{
        border-radius: 50%;
        box-shadow: 2px 2px 10px;
    }
    @media screen and (max-width:900px){
        flex-direction: column;
        text-align: center;
        gap:10px;
    }
}