body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

section {
  padding: 2em 1em;
}
section:not(:first-child) {
  max-width: 1000px;
}
section h2 {
  font-size: 1.8rem;
  margin: 0.5em 0 1.2em;
  text-align: center;
  font-style: italic;
  font-weight: 500;
}
@media only screen and (min-width: 480px) {
  section h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  section {
    padding: 2em;
  }
}

#intro {
  -webkit-clip-path: ellipse(100% 100% at 50% 0%);
          clip-path: ellipse(100% 100% at 50% 0%);
  shape-outside: margin-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 3em 1em 4em;
  font-weight: bold;
  background-color: orange;
}
#intro #intro-text {
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  #intro #intro-text {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 992px) {
  #intro #intro-text {
    font-size: 3rem;
    -webkit-clip-path: ellipse(100% 120% at 50% 0%);
            clip-path: ellipse(100% 120% at 50% 0%);
  }
}
#intro #name {
  display: block;
  color: white;
  font-size: 1.2em;
  margin: 0.2em 0 0.2em;
  line-height: 1em;
}
@media only screen and (min-width: 480px) {
  #intro #name {
    font-size: 1.5em;
  }
}
#intro #profile-img {
  border-radius: 50%;
  box-shadow: 2px 2px 10px;
  width: 180px;
  margin-top: 1em;
}
@media only screen and (min-width: 992px) {
  #intro {
    justify-content: space-evenly;
    flex-direction: row;
    text-align: left;
    gap: 20px;
  }
}

#skills h3 {
  font-size: 1.2em;
  color: orangered;
}
#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0px;
}
#skills ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  word-break: break-all;
  padding: 12px 20px;
  border-radius: 25px;
  font-weight: bold;
  border: 1.5px solid #aaa;
  box-shadow: 2px 1px 1px;
}
#skills ul li img {
  width: 3em;
  height: 3.2em;
}
@media only screen and (min-width: 480px) {
  #skills ul {
    gap: 20px;
  }
}

#education {
  color: #333;
  background-color: white;
}
#education .education-item {
  background-image: linear-gradient(to right, #fff, #eee);
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 20px skyblue;
  margin-bottom: 30px;
}
#education .education-item h3 {
  margin: 10px 0;
}
#education .education-item p {
  margin: 5px 0;
}
#education .education-item ul {
  margin: 10px 0;
}
#education .education-item .duration {
  font-style: italic;
  font-weight: 300;
  font-size: 0.9em;
}

#projects > div {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  border: 1px solid #aaa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 50px orange;
  background-image: linear-gradient(to bottom right, #e9e9e9, #fff);
}
#projects > div h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}
#projects > div a {
  color: orange;
  text-decoration: none;
  font-weight: 500;
}
#projects > div .project_show::after {
  content: "";
  display: table;
  clear: both;
}
#projects > div .project_show .image_video {
  margin: 0 20px 20px 0;
  box-shadow: 1px 1px 5px #999;
}
@media only screen and (min-width: 768px) {
  #projects > div .project_show .image_video {
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  #projects > div .project_show .image_video {
    width: 50%;
  }
}
#projects > div .project_show video {
  width: 100%;
}
#projects > div .project_show .project_description {
  font-style: italic;
}

footer {
  padding: 30px;
  background-image: linear-gradient(to bottom right, #000, #333);
  color: #bbb;
}
footer h2 {
  font-size: 2.3rem;
  color: #ddd;
}
footer > div {
  margin-bottom: 30px;
}
footer > div h3 {
  margin: 10px 0px;
}
footer #contact-links div {
  margin-bottom: 15px;
}
footer #contact-links div a {
  text-decoration: none;
  color: #bbb;
  transition: transform 0.3s ease;
  display: inline-block;
  transform-origin: 0%;
  overflow: hidden;
}
footer #contact-links div a i {
  margin-right: 10px;
  font-size: 1rem;
}
@media (hover: hover) {
  footer #contact-links div a:hover {
    transform: scale(1.05);
  }
}
footer #social-links {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
footer #social-links a i {
  font-size: 1.3rem !important;
}
@media (hover: hover) {
  footer #social-links a:hover {
    transform: scale(1.2) !important;
  }
}/*# sourceMappingURL=main.css.map */